body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/img/bg.jpg'); /* Specify the path to your background image */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust opacity value as needed (from 0 to 1) */
  }

.word{
   color: white;
   margin: 6px 0px 0px 21px;
    font-size: 60px;
} 
.start{
    background-color: black;
    height: 615px;
    width: 100%;
    position: absolute;
    bottom: 19px;
    left: 0px;
    top: 9px;
    right: 0px;
  }
.hr{
    width: 98%;
 }
.para{
    color: white;
    text-align: center;
    opacity: 1;
    font-size: 23px;
  }